*~
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# virtual environment
env

# output files
out/*

# django secret file
django_project/core/settings/secret.py

# yaml config files
settings.yaml
admin_mapping.yaml
admin_level_0.txt
admin_level_1.txt
admin_level_2.txt
admin_0_missing.txt
admin_0_new.txt
admin_1_missing.txt
admin_1_new.txt
admin_2_missing.txt
admin_2_new.txt
