default:
    admin_level_0: 2
    admin_level_1: 4
    admin_level_2: 6

per_country:
    'R14296':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Slovakia'
    'R1473946':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Israel'
    'R1656678':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'South Sudan'
    'R167454':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Chile'
    'R1703814':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Palestine'
    'R1741311':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Serbia'
    'R178009':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Kyrgyzstan'
    'R184818':
        admin_level_1: 3
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Jordan'
    'R184843':
        admin_level_1: 3
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Lebanon'
    'R186382':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Bulgaria'
    'R192757':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Tunisia'
    'R192775':
        admin_level_1: 3
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Senegal'
    'R192777':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Sierra Leone'
    'R192779':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode "C\xF4te d'Ivoire"
    'R192781':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Ghana'
    'R192783':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Burkina Faso'
    'R192795':
        admin_level_1: 4
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Congo-Kinshasa'
    'R192796':
        admin_level_1: 3
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Uganda'
    'R192800':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Ethiopia'
    'R195270':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Tanzania'
    'R1964272':
        admin_level_1: 3
        admin_level_2: 6
        meta:
            name: !!python/unicode 'Saint Helena, Ascension and Tristan da Cunha'
    'R1983628':
        admin_level_1: 3
        admin_level_2: 6
        meta:
            name: !!python/unicode 'South Georgia and the South Sandwich Islands'
    'R21335':
        admin_level_1: 5
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Hungary'
    'R214885':
        admin_level_1: 6
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Croatia'
    'R2171347':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Luxemburg'
    'R2177187':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'American Samoa'
    'R218657':
        admin_level_1: 3
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Slovenia'
    'R2528142':
        admin_level_1: 5
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Bosnia and Herzegovina'
    'R270009':
        admin_level_1: 4
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Guernsey'
    'R287077':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Paraguay'
    'R2978650':
        admin_level_1: 4
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Norway'
    'R307829':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Haiti'
    'R365307':
        admin_level_1: 4
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Malta'
    'R367988':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Jersey'
    'R382313':
        admin_level_1: 4
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Japan'
    'R447325':
        admin_level_1: 3
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Madagascar'
    'R449220':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Taiwan'
    'R50046':
        admin_level_1: 4
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Denmark'
    'R52411':
        admin_level_1: 6
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Belgium'
    'R52822':
        admin_level_1: 4
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Sweden'
    'R53292':
        admin_level_1: 6
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Albania'
    'R53293':
        admin_level_1: 4
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Macedonia'
    'R53296':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Montenegro'
    'R535828':
        admin_level_1: 4
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Mauritius'
    'R536807':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Sri Lanka'
    'R54224':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Finland'
    'R555017':
        admin_level_1: 5
        admin_level_2: 6
        meta:
            name: !!python/unicode 'Jamaica'
    'R62269':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Isle of Man'
    'R62273':
        admin_level_1: 5
        admin_level_2: 6
        meta:
            name: !!python/unicode 'Ireland'
    'R79510':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Estonia'
    'R80500':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Australia'
