default:
    admin_level_0: 2
    admin_level_1: 4
    admin_level_2: 6

per_country:
    '447325':
        admin_level_1: 3
        admin_level_2: 4
        meta:
            name: Madagascar
    '192775':
        admin_level_1: 3
        meta:
            name: Senegal
    '192796':
        admin_level_1: 3
        admin_level_2: 4
        meta:
            name: Uganda
    '192779':
        admin_level_2: 4
        meta:
            name: Cote dIvoire
