default:
    admin_level_0: 2
    admin_level_1: 4
    admin_level_2: 6

per_country:
    '14296':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Slovakia'
    '1473946':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Israel'
    '1656678':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'South Sudan'
    '167454':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Chile'
    '1703814':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Palestine'
    '1741311':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Serbia'
    '178009':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Kyrgyzstan'
    '184818':
        admin_level_1: 3
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Jordan'
    '184843':
        admin_level_1: 3
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Lebanon'
    '186382':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Bulgaria'
    '192757':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Tunisia'
    '192775':
        admin_level_1: 3
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Senegal'
    '192777':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Sierra Leone'
    '192779':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !python/unicode "C\xF4te d'Ivoire"
    '192781':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Ghana'
    '192783':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Burkina Faso'
    '192795':
        admin_level_1: 4
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Congo-Kinshasa'
    '192796':
        admin_level_1: 3
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Uganda'
    '192800':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Ethiopia'
    '195270':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Tanzania'
    '1964272':
        admin_level_1: 3
        admin_level_2: 6
        meta:
            name: !!python/unicode 'Saint Helena, Ascension and Tristan da Cunha'
    '1983628':
        admin_level_1: 3
        admin_level_2: 6
        meta:
            name: !!python/unicode 'South Georgia and the South Sandwich Islands'
    '21335':
        admin_level_1: 5
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Hungary'
    '214885':
        admin_level_1: 6
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Croatia'
    '2171347':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Luxemburg'
    '2177187':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'American Samoa'
    '218657':
        admin_level_1: 3
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Slovenia'
    '2528142':
        admin_level_1: 5
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Bosnia and Herzegovina'
    '270009':
        admin_level_1: 4
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Guernsey'
    '287077':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Paraguay'
    '2978650':
        admin_level_1: 4
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Norway'
    '307829':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Haiti'
    '365307':
        admin_level_1: 4
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Malta'
    '367988':
        admin_level_1: 4
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Jersey'
    '382313':
        admin_level_1: 4
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Japan'
    '447325':
        admin_level_1: 3
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Madagascar'
    '449220':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Taiwan'
    '50046':
        admin_level_1: 4
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Denmark'
    '52411':
        admin_level_1: 6
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Belgium'
    '52822':
        admin_level_1: 4
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Sweden'
    '53292':
        admin_level_1: 6
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Albania'
    '53293':
        admin_level_1: 4
        admin_level_2: 7
        meta:
            name: !!python/unicode 'Macedonia'
    '53296':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Montenegro'
    '535828':
        admin_level_1: 4
        admin_level_2: 4
        meta:
            name: !!python/unicode 'Mauritius'
    '536807':
        admin_level_1: 4
        admin_level_2: 5
        meta:
            name: !!python/unicode 'Sri Lanka'
    '54224':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Finland'
    '555017':
        admin_level_1: 5
        admin_level_2: 6
        meta:
            name: !!python/unicode 'Jamaica'
    '62269':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Isle of Man'
    '62273':
        admin_level_1: 5
        admin_level_2: 6
        meta:
            name: !!python/unicode 'Ireland'
    '79510':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Estonia'
    '80500':
        admin_level_1: 6
        admin_level_2: 8
        meta:
            name: !!python/unicode 'Australia'
