sources:
    osm_config_file: boundary.ini

    osm_data_file: /data/africa-latest-admin.pbf

# gdal driver specific settings
exposm:
    shp_output_directory: /tmp/out
    postgis: "PG:dbname='databasename' host='addr' port='5432' user='x' password='y'"
    geojson_output_directory: /tmp/geojson

gdal:
    # how much memory is gdal allowed to allocate
    memory_limit: '4096'
    # if memory is not enough, use this folder to store temporary files
    tempfile_dir: '/tmp'
    # show debug information, ON/OFF
    debug: 'ON'
    debug_file: '/tmp/gdal_log.log'

# logging setup
logging:
    version: 1
    disable_existing_loggers: True
    formatters:
        simple:
            format: '%(levelname)s %(message)s'
        verbose:
            format: '%(levelname)s %(asctime)s %(module)s %(message)s'
            datefmt: '%Y/%m/%d %H:%M:%S'

    handlers:
        console:
            class: logging.StreamHandler
            formatter: simple
            level: DEBUG
            stream: ext://sys.stdout
        file:
            class : logging.FileHandler
            formatter: verbose
            level: DEBUG
            mode: w
            filename: /tmp/export.log

    # optionally set a specific logger for extract module
    # loggers:
    #     extract:
    #         level: DEBUG
    #         handlers:
    #             - console

    root:
        level: DEBUG
        handlers:
            - console
            - file


